main {
  background-image: linear-gradient(rgba(51, 49, 206, 0.65), rgba(204, 206, 49, 0.50)), url(../images/dev2collab.jpeg);
  background-size: 130%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  color: rgb(204, 206, 49);
  font-family: "Cabin Sketch";
}

#title {
  font-size: 2.5rem;
  /* font-size: 5vw; */
}

#subhead {
  font-style: italic;
  font-size: 1.2rem;
}

#survey-form {
  font-size: 1.15rem;
  font-family: "Turret Road";
  font-weight: bold;
  color: rgb(203, 206, 54);
  /* color: rgb(134, 136, 29); */
  background-color: rgba(43, 41, 175, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-style: solid;
  padding: 1.25rem;
  flex-basis: 50rem;
}

.input-fields {
  font-size: 1.1rem;
}

[type="radio"] {
  margin: 0 15px 7px 0;
  /* width: 25px; */
}

#radios {
  width: 300px;
}

.radio-labels {
  margin: 0 10rem 0 0;
}

#checkbox-group {
  width: 400px;
}

[name="technologies"] {
  margin: 0 15px 7px 2rem;
}

.check-labels {
  margin: 0 15rem 0 0;
}

#buttons {
  align-self: center;
}

button {
  font-family: "Turret Road";
  font-size: 1.1rem;
  margin: 2em 1em 0 1em;
  padding: 0.25em 1em 0.25em 1em;
}